<% include partials/header %>
<div class="container-fluid">
<div class="jumbotron">

<h1 style ="text-align:center">Welcome to Recipe Maker Site By Santhosh Kumar!</h1>
<hr class="my-2">
<p style ="text-align:center">Explore your Favourite Recipees!</p>

<center><a  class="btn btn-primary btn-large" href="/campgrounds">View All Recipees</a></center>
<p><b>Description: </b>Our site helps you to explore all the most popular 
recipes of the world and also you can add your own recipes. Our site 
also allows you to buy the recipes instanctly..!</p>
<hr class="my-2">
<div class="jumbotron">
 <h2 style="text-align:center">Enjoy The Taste of Your Favourite Food!</h2>
<center><input type="image" style="width: 1130px; height: 600px;"src="http://www.commonsenserunswild.com/wp-content/uploads/2018/03/fire-pit-cooking-recipes-awesome-methods-used-in-authentic-mexican-cooking-of-fire-pit-cooking-recipes.jpg" alt="Recipes"></center>
<hr class="my-10">
</div>
<% include partials/footer %>
</div>

</div>


